<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>020DCFE11E15BE4E00848B99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02B96D041E0B0BDC00169F95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02B96D181E0B0BDC00169F95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
